<style>
div.exercise {    
    background-color: #f8ed62;
    border-color: #dab600;
    border-left: 5px solid #dab600;
    padding: 0.5em;
    }
 </style>

<style>
div.solution {    
    background-color: #ee7942;
    border-color: #a0522d;
    border-left: 5px solid #a0522d;
    padding: 0.5em;
    }
 </style>
